<div class="card col-sm-4 mx-auto mt-5" style="margin-bottom: 20px">
  <% if @user.avatar.attached? %>
  <%= image_tag @user.avatar, class: "card-img-top", style: "width:520px; height:480px" %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= @user.name %></h5>
    <h6 class="card-subtitle text-muted"><%= @user.age %>歳</h6>
    <p class="card-text"><%= @user.address %></p>
    <p class="card-text"><%= @user.phone %></p>
    <p class="card-text"><%= @user.email %></p>
  </div>
<button type="button"> <%= link_to 'Edit', edit_user_registration_path %> </button>
</div>
